<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>es6 Arrow Functions</title>

	<!-- favicon -->
	<link rel="icon" type="image/x-icon" href="<%= locals.url %>/favicon.ico" />

	<!-- mobile-app looking what-not -->
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

	<!-- reveal imports -->
	<link rel="stylesheet" href="/node_modules/reveal.js/css/reveal.css">
	<link rel="stylesheet" href="/css/simple.custom.css" id="theme">
	<link rel="stylesheet" href="/css/news-cycle.font.css">
	<link rel="stylesheet" href="/css/lato.font.css">

	<!-- Code syntax highlighting -->
	<link rel="stylesheet" href="/node_modules/highlight.js/styles/tomorrow.css">

	<!-- icons -->
	<link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.css">
</head>
<body>
	<div class="reveal">
		<div class="slides">
			<!-- load all slides -->
				<!-- 'also-know-as', -->
					<!-- 'intro-to-concept', -->
					<!-- 'recap', -->
			<% [
					'splash',
					'follow-along',
					'intro-to-self',
					'table-of-contents',
					'syntax',
					'anonymous',
					'arguments',
					'implicit-return',
					'parameters',
					'lexical-this',
					'support',
					'closing'
				].forEach(function (slide) { %>
				<section data-markdown data-separator="^----$" data-separator-vertical="^---$">
					<script type="text/template">
						<%- include('slides/' + slide + '.md') %>
					</script>
				</section>
			<% }) %>
		</div>
	</div>

	<script src="node_modules/reveal.js/lib/js/head.min.js"></script>
	<script src="node_modules/reveal.js/plugin/markdown/marked.js"></script>
	<script src="node_modules/reveal.js/plugin/markdown/markdown.js"></script>
	<script src="node_modules/reveal.js/js/reveal.js"></script>
	<script src="js/app.js"></script>

	<script>
		var bottomAnchors = document.querySelectorAll('.l-anchor--bottom .l-anchor__content')
		Array.prototype.forEach.call(bottomAnchors, function (el, key) {
			var h = parseInt(window.getComputedStyle(el).height, 10)
			el.style.bottom = '-' + (h/2) + 'px'
		})
	</script>

</body>
</html>